gameSettings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- https://github.com/HonzaSaibic/JazykySemestralniProjekt/blob/master/gameSettings.xsd -->
  <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="gameSettings">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="system">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="graphics">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="resolution" type="xs:string"></xs:element>
                      <xs:element name="verticalSync" type="xs:int"></xs:element>
                      <xs:element name="graphicsQuality" type="xs:int"></xs:element>
                      <xs:element name="viewDistance" type="xs:int"></xs:element>
                      <xs:element name="environmentDetail" type="xs:int"></xs:element>
                      <xs:element name="groundClutter" type="xs:int"></xs:element>
                      <xs:element name="shadowQuality" type="xs:string"></xs:element>
                      <xs:element name="liquidDetail" type="xs:string"></xs:element>
                      <xs:element name="lightningQuality" type="xs:string"></xs:element>
                      <xs:element name="textureResolution" type="xs:string"></xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="advanced">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="trippleBuffering" type="xs:int"></xs:element>
                      <xs:element name="reduceInputLag" type="xs:int"></xs:element>
                      <xs:element name="maxForegroundFps" type="xs:int"></xs:element>
                      <xs:element name="maxBackgroundFps" type="xs:int"></xs:element>
                      <xs:element name="uiScale" type="xs:string"></xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="network">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="optimizeNetworkForSpeed" type="xs:int"></xs:element>
                      <xs:element name="enableIpv6WhenAvailable" type="xs:int"></xs:element>
                      <xs:element name="advancedCombatLogging" type="xs:int"></xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="languages">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="text" type="xs:string"></xs:element>
                      <xs:element name="audio" type="xs:string"></xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="sound">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="masterVolume" type="xs:string"></xs:element>
                      <xs:element name="music" type="xs:string"></xs:element>
                      <xs:element name="ambience" type="xs:string"></xs:element>
                      <xs:element name="dialog" type="xs:string"></xs:element>
                      <xs:element name="soundInBackground" type="xs:int"></xs:element>
                      <xs:element name="distanceFiltering" type="xs:int"></xs:element>
                      <xs:element name="emoteSounds" type="xs:int"></xs:element>
                      <xs:element name="errorSpeech" type="xs:int"></xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="addOns">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="addon" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="active" type="xs:int"></xs:element>
                    </xs:sequence>
                      <xs:attribute name="addonName" type="xs:string"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="accounts">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="account" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="interface">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="controls">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="stickyTargeting" type="xs:int"></xs:element>
                                  <xs:element name="autoLoot" type="xs:int"></xs:element>
                                  <xs:element name="interactOnLeftClick" type="xs:int"></xs:element>
                                  <xs:element name="openLootWindowAtMouse" type="xs:int"></xs:element>
                                  <xs:element name="autoCancelAwayMode" type="xs:int"></xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="social">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="matureLanguageFilter" type="xs:int"></xs:element>
                                  <xs:element name="spamFilter" type="xs:int"></xs:element>
                                  <xs:element name="blockTrades" type="xs:int"></xs:element>
                                  <xs:element name="blockGuildInvites" type="xs:int"></xs:element>
                                  <xs:element name="onlineFriends" type="xs:int"></xs:element>
                                  <xs:element name="offlineFriends" type="xs:int"></xs:element>
                                  <xs:element name="showToastWindow" type="xs:int"></xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="actionbars">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="bottomLeftBar" type="xs:int"></xs:element>
                                  <xs:element name="bottomRightBar" type="xs:int"></xs:element>
                                  <xs:element name="rightBar" type="xs:int"></xs:element>
                                  <xs:element name="rightBar2" type="xs:int"></xs:element>
                                  <xs:element name="lockActionbars" type="xs:int"></xs:element>
                                  <xs:element name="showNumbersForCooldowns" type="xs:int"></xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    <xs:element name="keyBindings">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="movementKeys">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="moveForward" type="xs:string"></xs:element>
                                <xs:element name="moveBackward" type="xs:string"></xs:element>
                                <xs:element name="turnLeft" type="xs:string"></xs:element>
                                <xs:element name="turnRight" type="xs:string"></xs:element>
                                <xs:element name="strafeLeft" type="xs:string"></xs:element>
                                <xs:element name="strafeRight" type="xs:string"></xs:element>
                                <xs:element name="jump" type="xs:string"></xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="chat">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="openChat" type="xs:string"></xs:element>
                                <xs:element name="chatReply" type="xs:string"></xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="actionBar">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="actionButton1" type="xs:int"></xs:element>
                                <xs:element name="actionButton2" type="xs:int"></xs:element>
                                <xs:element name="actionButton3" type="xs:int"></xs:element>
                                <xs:element name="actionButton4" type="xs:string"></xs:element>
                                <xs:element name="actionButton5" type="xs:string"></xs:element>
                                <xs:element name="actionButton6" type="xs:string"></xs:element>
                                <xs:element name="actionButton7" type="xs:string"></xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    </xs:sequence>
                  <xs:attribute name="id" type="xs:int"></xs:attribute>
                  <xs:attribute name="server" type="xs:string"></xs:attribute>
                  <xs:attribute name="client" type="xs:string"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
  </xs:schema>
 